<div class="container" *ngIf="this.books$ | async as books">
  <button mat-mini-fab color="primary" (click)="this.addFlag = !this.addFlag" *ngIf="!this.addFlag">
    <mat-icon>add</mat-icon>
  </button>
  <h1>TEMPLATE 1 - YES</h1>
  <table mat-table [dataSource]="books" *ngIf="!this.addFlag">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="form-container" *ngIf="this.addFlag">
    <form [formGroup]="this.form">
      <formly-form class="grid-formly" [model]="this.model" [fields]="this.fields" [options]="this.options"
        [form]="this.form">
      </formly-form>
    </form>
    <div>
      <button mat-raised-button color="accent" (click)="this.cancelAdd()">Cancel</button>
      <button class="save-button" mat-raised-button color="primary" (click)="this.addBook()"
        [disabled]="!this.form.valid">Save</button>
    </div>
  </div>
</div>
