<div class="login-container">
    <h3>Are you the library manager?</h3>
    <mat-radio-group [value]="isTheManager" (change)="onChangeAnswer($event)">
        <mat-radio-button [value]="'t1'">TEMPLATE 1(Yes) </mat-radio-button>
        <mat-radio-button [value]="'t2'">TEMPLATE 2(No)</mat-radio-button>
        <mat-radio-button [value]="'t3'">TEMPLATE 3(guest)</mat-radio-button>
    </mat-radio-group>
</div>
