<h1>TEMPLATE 2 - NO</h1>
<div class="container" *ngIf="this.books$ | async as books">
    <mat-card class="box" *ngFor="let book of books">
        <mat-card-header>
            <mat-card-title>{{ book.name }}, {{ book.year }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ book.description }}
            </p>
        </mat-card-content>
    </mat-card>
</div>
